<h1>My page</h1>
<ul>
  <li><%= current_teacher.email %></li>
  <li><%= current_teacher.name %></li>
  <li><%= current_teacher.sex %></li>
  		<%= current_teacher %>
</ul>
<br/>
<%= link_to 'edit', :controller => "home", :action => "profile" %>
<%= link_to 'postedit', :controller => "home", :action => "post" %>
<%= link_to 'search', :controller => "searches", :action => "search" %>