<h1>My page</h1>
<ul>
  <% if $post then %>
  	<li><%= $post.postal_code %></li>
  	<li><%= $post.address %></li>
  	<li><%= current_teacher.email %></li>
  	<li><%= current_teacher.name %></li>
  	<li><%= current_teacher.sex %></li>
  	<li><%= current_teacher.long_msg %></li>
  <% else %>
  	<li><%= current_teacher.email %></li>
  	<li><%= current_teacher.name %></li>
  	<li><%= current_teacher.sex %></li>
  <% end %>

  		<%= current_teacher %>
</ul>
<br/>
<%= link_to 'edit', :controller => "home", :action => "profile" %>
<%= link_to 'postedit', :controller => "home", :action => "post" %>
<%= link_to 'search', :controller => "searches", :action => "search" %>