
<%= stylesheet_link_tag "form/form-h", :media => "all" %>
<%= stylesheet_link_tag "form/introjs", :media => "all" %>
  
  <%= javascript_include_tag "search/jquery.min" %>
  <%= javascript_include_tag "home/easyselectbox" %>
  <%= javascript_include_tag "home/intro" %>

	<div id="content">
	<%= form_tag("/home/student_create", name: "fcset", class: "link") do %>
			<div id="post" class="weight center" data-intro="郵便番号を入力してください。" data-step="1">
				<input type="text" class="center weight text" title="O12" maxlength="3" name="n2" onKeyUp="NextFocusMove(this, 'n3', 3)"  value= "<%= $post.postal_code_1 %>" />
				<input type="text" class="center weight text" title="O123" maxlength="4" name="n3" onkeyup="PrevFocusMove(this, 'n4', value)" value= "<%= $post.postal_code_2 %>" />
			</div>
			
			<div id="nav">ナビゲーションを開始</div>	

			<div id="parent-name">
				<input type="text" class="weight text" title="城生 さゆり" name="name" data-intro="保護者の氏名を入力してください。" data-step="2" value= "<%= $student.name %>"/>
			</div>
			<div id="child-name">
				<input type="text" class="weight text" title="城生 雄太" name="name_stu" data-intro="生徒の氏名を入力してください。" data-step="3" value= "<%= $student.name_stu %>"/>
			</div>
			
			<div class="clr"></div>
			
<!--
			<div id="child-date">
				<div id="sex" data-intro="生徒の性別を選択してください。" data-step="4">
					<input type="radio" id="man" value="男" name="sex"/>
					<label for="man" id="manradio"></label>
					<input type="radio" id="woman" value="女" name="sex"/>
					<label for="woman" id="womanradio"></label>
				</div>
				
-->
				
			<div id="child-date">
				<div id="sex" data-intro="生徒の性別を選択してください。" data-step="4">

					<% if $student.sex == "woman" %>
						<%= radio_button_tag(:sex, "man") %>
						<%= label_tag(:sex_man, "",{:id => "manradio"}) %>

						<%= radio_button_tag(:sex, "woman",{ :checked =>"checked"}) %>
						<%= label_tag(:sex_woman, "",{:id => "womanradio"}) %>
					<% else %>
						<%= radio_button_tag(:sex, "man",{ :checked =>"checked"}) %>
						<%= label_tag(:sex_man, "",{:id => "manradio"}) %>

						<%= radio_button_tag(:sex, "woman") %>
						<%= label_tag(:sex_woman, "",{:id => "womanradio"}) %>					
					
					<% end %>
				</div>


				<div id="schooldata" data-intro="生徒の学校を選択してください。" data-step="5">
				<%= select_tag(:grade, options_for_select([["小学生","el"],["中学生","jr"],["高校生","hi"]],$student.grade)) %>
				</div>
				
				<div id="gradedata" class="scrool_area" data-intro="生徒の学年を選択してください。" data-step="6">
				<%= select_tag(:grade_num, options_for_select([["１年生","1"],["２年生","2"],["３年生","3"],["４年生","4"],["５年生","5"],["６年生","6"]],$student.grade_num)) %>
				</div>
				
			</div>
			
			<div id="subject" data-intro="授業希望科目を選択してください。(複数可能)" data-step="7">

			<%= check_box_tag(:mat,"1",$subject.math) %>
			<%= label_tag(:mat,"",{:class => "mat center weight"}) %>
			<%= check_box_tag(:jap,"1",$subject.japanese) %>
			<%= label_tag(:jap,"",{:class => "jap center weight"}) %>
			<%= check_box_tag(:soc,"1",$subject.society) %>
			<%= label_tag(:soc,"",{:class => "soc center weight"}) %>
			<%= check_box_tag(:sci,"1",$subject.science) %>
			<%= label_tag(:sci,"",{:class => "sci center weight"}) %>
			<%= check_box_tag(:eng,"1",$subject.english) %>
			<%= label_tag(:eng,"",{:class => "eng center weight"}) %>
			<%= check_box_tag(:etc,"1",$subject.other) %>
			<%= label_tag(:etc,"",{:class => "etc center weight"}) %>

			</div>
			
			<div class="clr"></div>
			
			<div id="week" data-intro="授業希望曜日を選択してください。(複数可能)" data-step="8">
			
			<%= check_box_tag(:mon,"1",$week.mon) %>
			<%= label_tag(:mon,"",{:class => "Mon center weight"}) %>
			<%= check_box_tag(:tue,"1",$week.tue) %>
			<%= label_tag(:tue,"",{:class => "Tue center weight"}) %>
			<%= check_box_tag(:wed,"1",$week.wed) %>
			<%= label_tag(:wed,"",{:class => "Wed center weight"}) %>
			<%= check_box_tag(:thu,"1",$week.thu) %>
			<%= label_tag(:thu,"",{:class => "Thu center weight"}) %>
			<%= check_box_tag(:fri,"1",$week.fri) %>
			<%= label_tag(:fri,"",{:class => "Fri center weight"}) %>
			<%= check_box_tag(:sat,"1",$week.sat) %>
			<%= label_tag(:sat,"",{:class => "Sat center weight"}) %>
			<%= check_box_tag(:sun,"1",$week.sun) %>
			<%= label_tag(:sun,"",{:class => "Sun center weight"}) %>

<!--
				<input type="checkbox" id="Man" name="week" value="man"/>
				<label for="Man" class="Man center weight"></label>
				<input type="checkbox" id="Tue" name="week" value="tue"/>
				<label for="Tue" class="Tue center weight"></label>
				<input type="checkbox" id="Wed" name="week" value="wed"/>
				<label for="Wed" class="Wed center weight"></label>
				<input type="checkbox" id="Thu" name="week" value="thu"/>
				<label for="Thu" class="Thu center weight"></label>
				<input type="checkbox" id="Fri" name="week" value="fri"/>
				<label for="Fri" class="Fri center weight"></label>
				<input type="checkbox" id="Sut" name="week" value="sut"/>
				<label for="Sut" class="Sut center weight"></label>
				<input type="checkbox" id="Sun" name="week" value="sun"/>
				<label for="Sun" class="Sun center weight"></label>
-->
			</div>
			
			<div class="clr"></div>
			
			<ul id="purpose" data-intro="希望の指導目的を選択してください。(複数可能)" data-step="9">
				<li><%= check_box_tag(:record,"1", $purpose.record) %><%= label_tag(:record,"成績アップ",{:class => "pensile"}) %></li>
				<li><%= check_box_tag(:pass,"1", $purpose.pass) %><%= label_tag(:pass,"受験合格",{:class => "pensile"}) %></li>
				<li><%= check_box_tag(:conquer,"1", $purpose.conquer) %><%= label_tag(:conquer,"苦手科目克服",{:class => "pensile"}) %></li>
				<li><%= check_box_tag(:level,"1", $purpose.level) %><%= label_tag(:level,"実力レベルアップ",{:class => "pensile"}) %></li>
				<li><%= check_box_tag(:basic,"1", $purpose.basic) %><%= label_tag(:basic,"基礎学力養成",{:class => "pensile"}) %></li>
				<li><%= check_box_tag(:applied,"1", $purpose.applied) %><%= label_tag(:applied,"応用力養成",{:class => "pensile"}) %></li>
				<li><%= check_box_tag(:mygoal,"1", $purpose.mygoal) %><%= label_tag(:mygoal,"個人目標達成",{:class => "pensile"}) %></li>
				<li><%= check_box_tag(:refusal,"1", $purpose.refusal) %><%= label_tag(:refusal,"不登校サポート",{:class => "pensile"}) %></li>
				<li><%= check_box_tag(:capacity,"1", $purpose.capacity) %><%= label_tag(:capacity,"検定・資格サポート",{:class => "pensile"}) %></li>
			</ul>

			<ul id="howto" data-intro="希望の指導方法を選択してください。(複数可能)" data-step="10">
				<li><%= check_box_tag(:howto1,"1", $howto.howto1) %><%= label_tag(:howto1,"基礎からじっくり",{:class => "pensile"}) %></li>
				<li><%= check_box_tag(:howto2,"1", $howto.howto2) %><%= label_tag(:howto2,"ゆっくりわかりやすく",{:class => "pensile"}) %></li>
				<li><%= check_box_tag(:howto3,"1", $howto.howto3) %><%= label_tag(:howto3,"言葉を噛み砕いて説明",{:class => "pensile"}) %></li>
				<li><%= check_box_tag(:howto4,"1", $howto.howto4) %><%= label_tag(:howto4,"学校の授業並行指導",{:class => "pensile"}) %></li>
				<li><%= check_box_tag(:howto5,"1", $howto.howto5) %><%= label_tag(:howto5,"さかのぼり指導",{:class => "pensile"}) %></li>
				<li><%= check_box_tag(:howto6,"1", $howto.howto6) %><%= label_tag(:howto6,"学校の授業の先取り",{:class => "pensile"}) %></li>
				<li><%= check_box_tag(:howto7,"1", $howto.howto7) %><%= label_tag(:howto7,"効率よく弱点の強化",{:class => "pensile"}) %></li>
				<li><%= check_box_tag(:howto8,"1", $howto.howto8) %><%= label_tag(:howto8,"塾のフォロー",{:class => "pensile"}) %></li>
				<li><%= check_box_tag(:howto9,"1", $howto.howto9) %><%= label_tag(:howto9,"難関校受験指導",{:class => "pensile"}) %></li>
				<li><%= check_box_tag(:howto10,"1", $howto.howto10) %><%= label_tag(:howto10,"ハイレベル対応指導",{:class => "pensile"}) %></li>
				<li><%= check_box_tag(:howto11,"1", $howto.howto11) %><%= label_tag(:howto11,"やり方やコツを教えてほしい",{:class => "pensile"}) %></li>
				<li><%= check_box_tag(:howto12,"1", $howto.howto12) %><%= label_tag(:howto12,"部活との並行",{:class => "pensile"}) %></li>
<!--
				
				<li><input type="checkbox" name="howto" id="1" value="howto1" /><label for="1" class="pensile">基礎からじっくり</label></li>
				<li><input type="checkbox" name="howto" id="2" value="howto2" /><label for="2" class="pensile">ゆっくりわかりやすく</label></li>
				<li><input type="checkbox" name="howto" id="3" value="howto3" /><label for="3" class="pensile">言葉を噛み砕いて説明</label></li>
				<li><input type="checkbox" name="howto" id="4" value="howto4" /><label for="4" class="pensile">学校の授業並行指導</label></li>
				<li><input type="checkbox" name="howto" id="5" value="howto5" /><label for="5" class="pensile">さかのぼり指導</label></li>
				<li><input type="checkbox" name="howto" id="6" value="howto6" /><label for="6" class="pensile">学校の授業の先取り</label></li>
				<li><input type="checkbox" name="howto" id="7" value="howto7" /><label for="7" class="pensile">効率よく弱点の強化</label></li>
				<li><input type="checkbox" name="howto" id="8" value="howto8" /><label for="8" class="pensile">塾のフォロー</label></li>
				<li><input type="checkbox" name="howto" id="9" value="howto9" /><label for="9" class="pensile">難関校受験指導</label></li>
				<li><input type="checkbox" name="howto" id="10" value="howto10" /><label for="10" class="pensile">ハイレベル対応指導</label></li>
				<li><input type="checkbox" name="howto" id="11" value="howto11" /><label for="11" class="pensile">やり方やコツを教えてほしい</label></li>
				<li><input type="checkbox" name="howto" id="12" value="howto12" /><label for="12" class="pensile">部活との並行</label></li>
				-->
			</ul>


			

			<input class="button" name="commit" type="submit" value="保存" data-intro="編集を終了します。" data-step="11" />
	<% end %>

	</div>
	<script>
	// navigation start set script
	$(window).load(function(){
		introJs().start();
	});
	
	$('#nav').click(function(){
		introJs().start();
	});

	/* 	next focus */
	function NextFocusMove(object, targetName, maxLength){
		if(object.value.length >= maxLength){object.form.elements[targetName].focus();}
	}
	/* 	prev focus */
	function PrevFocusMove(object, targetName, str){
		if( str.length == 0 ){fc(0)}
	}
	/*  focus setting */
	function fc(num){
		document.fcset.elements[num].focus();
	}
	/*  title setting */
	$(document).ready(function(){
	  $('.text')
	    .blur(function(){
	      var $$=$(this);
	      if($$.val()=='' || $$.val()==$$.attr('title')){
	        $$.css({'color':'#c9c9c9'})
	          .val($$.attr('title'));
	      }
	    })
	    .focus(function(){
	      var $$=$(this);
	      if($$.val()==$$.attr('title')){
	        $(this).css('color', '#000')
	               .val('');
	      }
	    })
	    .parents('form:first').submit(function(){
	      var $$=$('.text');
	      if($$.val()==$$.attr('title')){
	        $$.triggerHandler('focus');
	      }
	    }).end()
	    .blur();
	  });

	  /*  Easy Select Box */
	jQuery(function () {
		jQuery('select#grade').easySelectBox({speed:100})
		jQuery('select#grade_num').easySelectBox({speed:100})
	});
	</script>
</body>
</html>