<%= stylesheet_link_tag "form/form", :media => "all" %>
<%= stylesheet_link_tag "form/teach_sche", :media => "all" %>
<%= stylesheet_link_tag "form/teach_set", :media => "all" %>
  
  <%= javascript_include_tag "search/jquery.min" %>

	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="http://ajaxzip3.googlecode.com/svn/trunk/ajaxzip3/ajaxzip3.js" charset="UTF-8"></script>

	<a href="/"><div id="return"></div></a>
	
	
	<%= form_tag("/home/teacher_create", name: "fcset", class: "link") do %>

			<input type="text" name="name" class="text name" title="山田 太郎" value= "<%= $teacher.name %>" />
			<li id="upload" class="image">
				<div id="kiban">
					<a id="btnUpload" data-options="iconCls:'icon-save'">
						<%= image_tag("user.png", :class => "1", :alt => "user", :width => "123", :style => "opacity: 0.8;") %>
					</a>
				</div>
			</li>
			<div id="plus">+</div>
			<div id="minus">−</div>
			<input type="file" name="userfile" id="file" style="display: none;">
			
			<div class="univ">
				<input name="univ" class="text univ-1" title="◯◯大学" value="<%= $teacher.univ %>" />
				<input name="faculty" type="text" class="text univ-2" title="◯◯学部◯◯学科" value="<%= $teacher.faculty %>" />
			</div>
			
			<div class="trans">
			 
<input class="text" title="O12" maxlength="3" name="n2" onKeyUp="NextFocusMove(this, 'n3', 3)" value= "<%= $post.postal_code_1 %>" >‐<input class="text" title="O123" maxlength="4" name="n3" onkeyup="PrevFocusMove(this, 'n2', value)" value= "<%= $post.postal_code_2 %>" ><br />
				<p>免許</p>
				<div class="onoffswitch">
					<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
					<label class="onoffswitch-label" for="myonoffswitch">
						<div class="onoffswitch-inner"></div>
						<div class="onoffswitch-switch"></div>
					</label>
				</div>

				<p>車</p>
				<div class="onoffswitch">
					<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch2" checked>
					<label class="onoffswitch-label" for="myonoffswitch2">
						<div class="onoffswitch-inner"></div>
						<div class="onoffswitch-switch"></div>
					</label>
				</div>
				
				<div class="trans-before"></div>
				<div class="trans-after"></div>
			</div>
			<div class="card"></div>
			<input type="file" name="usercard" id="card" style="display: none;">			
			<div class="money">
				<%= label_tag "小学生: " %>
				<%= text_field_tag :el , $money.el %><br />
				<%= label_tag "中学生: " %>
				<%= text_field_tag :jr , $money.jr %><br />
				<%= label_tag "高校生: " %>
				<%= text_field_tag :hi, $money.hi %><br />
				<div class="money-before"></div>
				<div class="money-after"></div>
			</div>
			<div class="icon-m-before"></div>
			<div class="icon-m"></div>
			
			<textarea  name="long_msg" class="text message" title="指導経歴：高２男子、高３女子 、塾講師経験有
指導理念：子供に合わせた学習カリキュラムを組み、
目標達成に向けて全力でサポートします。
 子供の自主性をのばす為、課題設定はこども主体で行い、
課題がきちんと実行されるようにサポートし、
達成できればその過程(頑張り)を褒めます。
指導履歴: 小学４年生(数学・英語)　中学３年生(受験勉強)"><%= $teacher.long_msg %></textarea>
			<div style="clear: both;"></div>
			<li class="sche">
				<div class="sche_week">
					<input type="checkbox" id="man" value="man"/>
					<label for="man" id="Man" class="day"></label>
				</div>

				<div class="sche_week">
					<input type="checkbox" id="tue" value="tue"/>
					<label for="tue" id="Tue" class="day"></label>
				</div>

				<div class="sche_week">
					<input type="checkbox" id="wed" value="wed"/>
					<label for="wed" id="Wed" class="day"></label>
				</div>
				
				<div class="sche_week">
					<input type="checkbox" id="thu" value="thu"/>
					<label for="thu" id="Thu" class="day"></label>
				</div>
				
				<div class="sche_week">
					<input type="checkbox" id="fri" value="fri"/>
					<label for="fri" id="Fri" class="day"></label>
				</div>
				
				<div class="sche_week">
					<input type="checkbox" id="sut" value="sut"/>
					<label for="sut" id="Sut" class="day"></label>
				</div>
				
				<div class="sche_week">
					<input type="checkbox" id="san" value="san"/>
					<label for="san" id="San" class="day"></label>
				</div>
			</li>
			<li class="subject_li">
				<div id="setting">
					<div class="setting">
						<input type="checkbox" id="eng" value="eng"/>
						<label for="eng" id="Eng" class="subject">
							<span>English</span><p>英</p>
						</label>
					</div>

					<div class="setting">					
						<input type="checkbox" id="jpn" value="jpn"/>
						<label for="jpn" id="Jpn" class="subject">
							<span>Japanese</span><p>国</p>
						</label>
					</div>
					
					<div class="setting">
						<input type="checkbox" id="gen" value="gen"/>
						<label for="gen" id="Gen" class="subject">
							<span>Society</span><p>社</p>
						</label>
					</div>
					
					<div class="setting">
						<input type="checkbox" id="sci" value="sci"/>
						<label for="sci" id="Sci" class="subject">
							<span>Science</span><p>理</p>
						</label>
					</div>
					
					<div class="setting">
						<input type="checkbox" id="mat" value="mat"/>
						<label for="mat" id="Mat" class="subject">
							<span>Math</span><p>数</p>
						</label>					
					</div>
					
					<div class="setting">
						<input type="checkbox" id="ath" value="ath"/>
						<label for="ath" id="Ath" class="subject">
							<span>Other</span><p>他</p>
						</label>
					</div>
				</div>
			</li>
			<div id="sign">下にもあるよ！</div>
			<div class="action" id="okbutton">
				<%= submit_tag( "OK" ) %>
			</div>
	<% end %>

<!--
		</form>
				<div id="sign">下にもあるよ！</div>
				<div id="okbutton">OK</div>
-->
<script>

$(window).bind("scroll", function() {
	scrollHeight = $(document).height();
	scrollPosition = $(window).height() + $(window).scrollTop();
	if ( (scrollHeight - scrollPosition) / scrollHeight <= 0.05) {
		$("#sign").css({"opacity":0})
	} else {
		$("#sign").css({"opacity":1})
	}
});
	$(function(){
		setInterval(function(){
			$("#sign").animate({"bottom":"7%"})
			}, 1000)
	});

	$('#btnUpload').live('click',function(){
　　			　$('#file').click();
	});

	$('.card').live('click',function(){
　　			　$('#card').click();
	});
	
	$('.card').hover(function(){
		$('#sign').html("学生証の提示")
	},
	function(){
		$('#sign').html("下にもあるよ！")
	});
	
	$(function() {

		// アップロードするファイルを選択
		$('input[name=userfile]').change(function() {
			var file = $(this).prop('files')[0];

			// 画像以外は処理を停止
			if (! file.type.match('image.*')) {
				$('span').html('');
				return;
			}

			// 画像表示
			var reader = new FileReader();
			reader.onload = function() {
				var img_src = $('img.change').attr('src', reader.result);
				var width = 123;
				
				$(img_src).each(function(){
					var w = $(this).width();
					var h = $(this).height();
					if (w != width) {
						$(this).width(width);
					} 
				});
				
				$('img.change').css({"opacity":1});
			}
			reader.readAsDataURL(file);
		});
	});

		$(function() {
			$( "img" ).draggable();
				var i = 1;
			$('#plus').click(function(){
				i += 0.1;
				$('img').css({"zoom":i})
			});
			$('#minus').click(function(){
				i -= 0.1;
				$('img').css({"zoom":i})
			})
			
		});

		function NextFocusMove(object, targetName, maxLength)
		{
			if(object.value.length >= maxLength)
				object.form.elements[targetName].focus();
		}
		
		function PrevFocusMove(object, targetName, str)
		{
			if( str.length == 0 ){
				fc(6)
			}
		}

		function fc(num){
			document.fcset.elements[num].focus();
		}

$(document).ready(function(){
  $('.text')
    .blur(function(){
      var $$=$(this);
      if($$.val()=='' || $$.val()==$$.attr('title')){
        $$.css({'color':'#c9c9c9'})
          .val($$.attr('title'));
      }
    })
    .focus(function(){
      var $$=$(this);
      if($$.val()==$$.attr('title')){
        $(this).css('color', '#000')
               .val('');
      }
    })
    .parents('form:first').submit(function(){
      var $$=$('.text');
      if($$.val()==$$.attr('title')){
        $$.triggerHandler('focus');
      }
    }).end()
    .blur();
  });

$(function(){
	$('.name').bind('keydown keyup keypress change',function(){
		var namecount = $(this).val().length;
		if(namecount < 5){
			$(".name").css({"font-size":"30px"})	
		}
		if(namecount > 6 && namecount < 10){
			$(".name").css({"font-size":"18px"})
		}
	});

	$('.univ-1').bind('keydown keyup keypress change',function(){
		var univ1count = $(this).val().length;
		if(univ1count < 9){
			$(".univ-1").css({"font-size":"18px"})
		}
		if(univ1count > 10 && univ1count < 15){
			$(".univ-1").css({"font-size":"11px"})
		}
	});
		

	$('.univ-2').bind('keydown keyup keypress change',function(){
		var univ2count = $(this).val().length;
		
		if(univ2count < 9){
			$(".univ-2").css({"font-size":"18px"})
		}
		if(univ2count > 10 && univ2count < 15){
			$(".univ-2").css({"font-size":"11px"})
		}
		if(univ2count > 16){
			$(".univ-2").css({"font-size":"6px"})
		}

	});
});

$(".trans-after").click(function(){
	$(this).animate({"width":"60px", "height":"60px", "top": "-8px","left":"-5px", "border-radius":"50%", "background-size":"75%"})
	$(".trans-before").animate({"width":"70px", "height":"70px", "top": "-18px","left":"-15px", "border-radius":"50%"})
	
});

$(".money-after").click(function(){
	$(this).animate({"width":"60px", "height":"60px", "top": "-8px","left":"-5px", "border-radius":"50%", "background-size":"75%"})
	$(".money-before").animate({"width":"70px", "height":"70px", "top": "-18px","left":"-15px", "border-radius":"50%"})
	
});

$(".icon-m-before").click(function(){
	$(".icon-m").animate({"width":"70px", "height":"70px", "top":"255px", "left":"300px", "border-radius":"50%"})
	$(this).animate({"width":"60px", "height":"60px", "top":"365px", "left":"410px", "border-radius":"50%", "background-size":"70%"})
});


</script>

