<%= stylesheet_link_tag "home/jqdoc", :media => "all" %>
<%= stylesheet_link_tag "searches/howuse", :media => "all" %>
<%= javascript_include_tag "search/jquery" %>
<%= javascript_include_tag "jquery/plugin/plugin-cycle" %>
<!-- メニューバー -->
<div id="map-menu">
	<a class="menu-item" href="/top/teacher_top"><%= image_tag("home.png") %><span>HOME</span></a>
	<a class="menu-item" href="search.html"><%= image_tag("searchicon.png") %><span>検索</span></a>
	<a class="menu-item" href="#"><%= image_tag("money.png") %><span>料金</span></a>
	<a class="menu-item" href="#"><%= image_tag("guide.png") %><span>使い方</span></a>
</div> <!-- /メニューバー -->
<div id="content">
	<div id="plugin-slide">
		<nav>
			<div class="page"></div>
		</nav>
		<nav>
			1
		</nav>

		<nav> 
		<!-- 教科男女検索 -->
			2
		</nav>

		<nav> 
		<!-- 評価軸 -->
			3
		</nav>

		<nav> 
		<!-- アイコンについて -->
			4
		</nav>

		<nav> 
		<!-- メッセージの送り方 -->
			5
		</nav>

		<nav> 
		<!-- 時給は交渉可能 -->
			6
		</nav>


	</div>
	
	<div id="jquery-cycle-nav">
		<a id="jquery-cycle-prev" href="#"><div id="prev"></div></a>
		<a id="jquery-cycle-next" href="#"><div id="next"></div></a>
	</div>
</div>

<%= javascript_include_tag "home/jqdoc" %>

<script>
jQuery( function() {
    jQuery( '#plugin-slide' ) . cycle( {
        fx: 'scrollHorz',
        speed: 1000, 
        timeout: 0,
        sync: 1,
        next: '#jquery-cycle-next',
        prev: '#jquery-cycle-prev',
        pager: ".page"
    } );
} );

$("p").hover(function(){
	$(this).children("img").stop(true, false).animate({"opacity":0})
	$(this).children("span").stop(true, false).animate({"opacity":1})
},
function(){
	$(this).children("img").stop(true, false).animate({"opacity":1})
	$(this).children("span").stop(true, false).animate({"opacity":0})
});
</script>