<%= stylesheet_link_tag "searches/introjs", :media => "all" %>
<%= stylesheet_link_tag "home/jqdoc", :media => "all" %>
  <%= javascript_include_tag "search/jquery" %>
  <%= javascript_include_tag "search/intro" %>
  <%= javascript_include_tag "search/jquery.min" %>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://ajaxzip3.googlecode.com/svn/trunk/ajaxzip3/ajaxzip3.js" charset="UTF-8"></script>


<!--     なんか下から書かれてる     -->
<div id="map-menu">
	<a class="menu-item" href="/top/teacher_top"><%= image_tag("home.png") %><span>HOME</span></a>
	<a class="menu-item" href="search.html"><%= image_tag("searchicon.png") %><span>検索</span></a>
	<a class="menu-item" href="#"><%= image_tag("money.png") %><span>料金</span></a>
	<a class="menu-item" href="#"><%= image_tag("guide.png") %><span>使い方</span></a>
</div>



<!-- ↓郵便番号UI -->
<div class="content">
<form id="form" method="get" action="" name="fcset">
<div class="button"></div>

<form action="" method="post">

<input class="text" title="O12" maxlength="3" name="n2" onKeyUp="NextFocusMove(this, 'n3', 3)" value= "<%= $post.postal_code_1 %>" >‐<input class="text" title="O123" maxlength="4" name="n3" onkeyup="AjaxZip3.zip2addr('n2','n3','address','address'); PrevFocusMove(this, 'n2', value)" value= "<%= $post.postal_code_2 %>" ><br />

<div class="button"></div>

<input type="text" name="address" size="60"><br />

<%= Geocoder.coordinates("兵庫県三田市西山") %><br />



<div class="border"></div>
<div class="man"></div><div class="woman"></div>
<div class="maru">
	<div class="con"></div>
	<div class="con-2 pp icon"></div>
	<div class="con-2 g icon"></div>
	<div class="con-2 b icon"></div>
	<div class="con-2 r icon"></div>
	<div class="con-2 y icon"></div>
	<div class="con-2 p icon"></div>
</div>
</form>
<div class="clr"></div>

<!-- ↑郵便番号UI -->



<!-- 実験エリア -->

<br />
<%= @location %>


<h3>10 マイル以内</h3>
<ul>
<% for location in @location.nearbys(30) %>
  <li>(<%= location.distance.round(2) %> miles)</li>
    <li><%=  %></li>
<% end %>
</ul>



<!-- ↑実験エリア -->


</div> <!-- .content -->
<%= javascript_include_tag "home/jqdoc" %>

<script>

	function NextFocusMove(object, targetName, maxLength)
		{
			if(object.value.length >= maxLength)
				object.form.elements[targetName].focus();
		}
		
	function PrevFocusMove(object, targetName, str)
		{
			if( str.length == 0 ){
				fc(0)
			}
		}

	function fc(num){
			document.fcset.elements[num].focus();
		}
	
</script>