<%= stylesheet_link_tag "searches/introjs", :media => "all" %>
<%= stylesheet_link_tag "home/jqdoc", :media => "all" %>
  <%= javascript_include_tag "search/jquery" %>
  <%= javascript_include_tag "search/intro" %>
  <%= javascript_include_tag "search/jquery.min" %>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://ajaxzip3.googlecode.com/svn/trunk/ajaxzip3/ajaxzip3.js" charset="UTF-8"></script>


<!--     なんか下から書かれてる     -->
<div id="map-menu">
	<a class="menu-item" href="/top/teacher_top"><%= image_tag("home.png") %><span>HOME</span></a>
	<a class="menu-item" href="search.html"><%= image_tag("searchicon.png") %><span>検索</span></a>
	<a class="menu-item" href="#"><%= image_tag("money.png") %><span>料金</span></a>
	<a class="menu-item" href="#"><%= image_tag("guide.png") %><span>使い方</span></a>
</div>



<!-- ↓郵便番号UI -->
<div class="content">

<%= form_tag("/searches/posttest", name: "fcset", class: "link") do %>

<input class="text"  maxlength="3" name="n2" onKeyUp="NextFocusMove(this, 'n3', 3)" >‐<input class="text" maxlength="4" name="n3" onkeyup="PrevFocusMove(this, 'n2', value); valck1(this,4)" ><br />


<input type="text" name="address" id="hoge" class="huge" size="60"><br />



<div class="border"></div>
<div class="man"></div><div class="woman"></div>
<div class="maru">
	<div class="con"></div>
	<div class="con-2 pp icon"></div>
	<div class="con-2 g icon"></div>
	<div class="con-2 b icon"></div>
	<div class="con-2 r icon"></div>
	<div class="con-2 y icon"></div>
	<div class="con-2 p icon"></div>
</div>

<div class="clr"></div>


			<%= submit_tag( "OK", :class => "action", :id => "okbutton") %>

<% end %>

<!-- ↑郵便番号UI -->

<!-- 検索結果リスト表示 -->

<br />
<% @locations.each do |f| %>
<ul>
	<li> <%= f.id %></li>
</ul>
<% end %>



<!-- ↑検索結果リスト表示 -->



</div> <!-- .content -->
<br />
js 発火チェックボタン
<input type="checkbox" onClick="getval2();">

<%= javascript_include_tag "home/jqdoc" %>

<script>



	function NextFocusMove(object, targetName, maxLength)
		{
			if(object.value.length >= maxLength)
				object.form.elements[targetName].focus();
		}
		
	function PrevFocusMove(object, targetName, str)
		{
			if( str.length == 0 ){
				fc(0)
			}
		}

	function fc(num){
			document.fcset.elements[num].focus();
		}

/*　↓ 自動判定で使用予定 */	
/* 	郵便番号上が3文字以上の時に、 address フォームの値を old に代入 */

	function valck1(object, maxLength)
		{
			
			AjaxZip3.zip2addr('n2','n3','address','address')

				if(object.value.length >= maxLength){
					var zip1 = $('[name=address]').val();
					console.log(zip1);
				}
			
		}
		
	function valck2()
		{
			AjaxZip3.zip2addr('n2','n3','address','address')
			var zip2  = $('[name=address]').val();
			console.log(zip2);
		}
		
/*　↑ 自動判定で使用予定 */	

	
</script>