<%= stylesheet_link_tag "searches/introjs", :media => "all" %>
<%= stylesheet_link_tag "home/jqdoc", :media => "all" %>
  <%= javascript_include_tag "search/jquery" %>
  <%= javascript_include_tag "search/intro" %>

<!--     なんか下から書かれてる     -->
<div id="map-menu">
	<a class="menu-item" href="/top/teacher_top"><%= image_tag("home.png") %><span>HOME</span></a>
	<a class="menu-item" href="search.html"><%= image_tag("searchicon.png") %><span>検索</span></a>
	<a class="menu-item" href="#"><%= image_tag("money.png") %><span>料金</span></a>
	<a class="menu-item" href="#"><%= image_tag("guide.png") %><span>使い方</span></a>
</div>

<!-- ↓郵便番号UI -->
<div class="content">
<form id="form" method="get" action="" name="fcset">
<div class="button"></div>
<div class="zip">
	<INPUT TYPE="TEXT" NAME="n2" SIZE="5" MAXLENGTH="3" style="left:-15px;" onKeyUp="NextFocusMove(this, 'n3', 3)">
<div class="hi">-</div>
	<INPUT TYPE="TEXT" NAME="n3" SIZE="5" MAXLENGTH="4" style="margin-left:1.5px;" onkeyup="PrevFocusMove(this, 'n4', value)">
</div>



<div class="button"></div>

<input class="text"  maxlength="3" name="n2" onKeyUp="NextFocusMove(this, 'n3', 3)" >‐<input class="text"  maxlength="4" name="n3" onkeyup="AjaxZip3.zip2addr('n2','n3','address','address'); PrevFocusMove(this, 'n2', value)" ><br />


	
<input type="text" name="address" size="60" ><!--  隠しデータ 住所自動入力 -->
<br />


<div class="border"></div>
<div class="man"></div><div class="woman"></div>
<div class="maru">
	<div class="con"></div>
	<div class="con-2 pp icon"></div>
	<div class="con-2 g icon"></div>
	<div class="con-2 b icon"></div>
	<div class="con-2 r icon"></div>
	<div class="con-2 y icon"></div>
	<div class="con-2 p icon"></div>
</div>
</form>
<div class="clr"></div>

<!-- ↑郵便番号UI -->





</div> <!-- .content -->
<%= javascript_include_tag "home/jqdoc" %>

<script>
			function NextFocusMove(object, targetName, maxLength)
		{
			if(object.value.length >= maxLength)
				object.form.elements[targetName].focus();
		}
		
		function PrevFocusMove(object, targetName, str)
		{
			if( str.length == 0 ){
				fc(7)
			}
		}

		function fc(num){
			document.fcset.elements[num].focus();
		}
</script>