<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <meta charset="UTF-8" />

  <%= favicon_link_tag "favicon.ico" %>
  <%= yield :css %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <!--[if lte IE 8]><style>.main{display:none;} .support-note .note-ie{display:block;}</style><![endif]-->
  <%= yield :javascript_header %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if teacher_signed_in? %>
<ul>
  <li><%= link_to "ログアウト", destroy_teacher_session_path, method: :delete %></li>
</ul>
<% end %>

  <%= yield %>
  <%= yield :javascript_footer %>
</body>
</html>
